# traefik-helm-values.yaml
# Basic Traefik Helm values for ToolHive demo cluster with Gateway API
ports:
  # Defines the HTTP entry point named 'web'
  web:
    port: 80
    nodePort: 30000
  websecure:
    port: 443
    nodePort: 30443

ingressClass:
  enabled: false

providers:
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: true

gateway:
  listeners:
    web:
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure:
      port: 443
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - kind: Secret
          name: traefik-me-tls

api:
  dashboard: false

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true
